* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Thiết lập vị trí của product-portfolio */
.product-portfolio {
  position: absolute;
  right: 0;
  top: 100px;
  left: 170px; /* Đặt khoảng cách từ left sang phải (tương ứng với độ rộng của sidebar) */
  background-color: #fcfcfc; /* Màu nền của product-portfolio */
}
.product-portfolio-title {
  position: absolute;
  top: 70px;
  left: 35%;
  font-size: 25px;
}
.product-portfolio-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Căn giữa các item-product */
  margin-top: 100px;
}
.product-portfolio-infor {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  justify-content: space-around; /* Căn giữa các item-product */
  left: 15%;
  top: 150px;
}
.product-portfolio-infor .inforNew {
  margin: 50px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 2px 2px 1px inset;
  width: 200px;
}
.product-portfolio-infor .inforNew-title {
  text-align: center;
  border-radius: 10px;
  font-size: 25px;
  animation: colorchange 2s infinite alternate;
  color: white;
}
@keyframes colorchange {
  from {
    background-color: red;
  }
  to {
    background-color: blue;
  }
}
.product-portfolio-infor .inforNew-img img {
  width: 150px;
  height: 150px;
  left: 100px;
  transition: 0.7s;
}

.item {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 2px 2px 1px inset;
  margin-top: 500px;
}
.product-portfolio-infor .inforNew-text {
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  background-color: #294031;
  border-radius: 10px;
  color: white;
  padding: 5px;
  transition: 0.7s;
  cursor: pointer;
}
.product-portfolio-infor .inforNew-text:hover {
  scale: 1.05;
}
.item-product {
  width: 150px; /* Độ rộng của mỗi item-product */
  height: 150px; /* Chiều cao của mỗi item-product */
  background-color: white;
  color: aliceblue;
  padding: 20px;
  margin: 20px; /* Khoảng cách giữa các item-product */
  text-align: center;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}
.item .infor {
  text-align: center;
  margin-bottom: 10px;
}
.item .infor h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.item .infor button {
  padding: 15px;
  font-size: 25px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  transition: 0.7s;
  background-color: #294031;
}
.item .infor button:hover {
  background-color: #142118;
  scale: 1.05;
}
.item .infor button a {
  text-decoration: none;
  color: white;
}
.item .infor p {
  font-size: 10px;
}
.item-product {
  transition: 0.7s;
  cursor: pointer;
}
.item-product:hover {
  scale: 1.1;
}
.item .infor p {
  margin: 10px;
  padding: 7px;
  border-radius: 10px;
  color: white;
  background-color: #294031;
}
