* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.staff {
  position: absolute;
  display: flex;
  left: 200px;
  top: 150px;
}
.staff h2 {
  font-size: 30px;
  padding: 10px;
  text-align: center;
  width: 500px;
}
.staff #clock {
  font-size: 40px;
  padding: 10px;
  text-align: center;
  width: 300px;
  border-radius: 50px;
  background-color: #294031;
  color: white;
}
.staff .staff-header {
  position: absolute;
  top: 70px;
  width: 1280px;
  max-height: min-content;
  border-style: groove;
}

.staff .staff-header .staff-item {
  color: grey;
  font-size: 20px;
}
.staff .input_search {
  width: 600px;
  max-width: 600px;
  height: 45px;
  padding: 7px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  box-shadow: 0px 0px 20px -18px;
  background-color: white;
  margin: 30px 10px 30px 0;
  color: #142118;
}

.staff .input_search:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}
.staff .input_search::placeholder {
  color: gray;
}

.staff .input_search:focus {
  border: 2px solid grey;
}
.staff label {
  font-size: 25px;
  margin: 10px 10px 10px 30px;
}
.staff .staff-button {
  background-color: #294031;
  color: white;
  padding: 7px;
  border-radius: 5px;
  border: none;
  width: 100px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.7s;
  margin-left: 100px;
}
.staff .staff-button:hover {
  background-color: #142118;
  color: white;
  scale: 1.1;
}
.staff .staff-btnadd {
  background-color: #294031;
  color: white;
  padding: 7px;
  border-radius: 5px;
  border: none;
  width: 200px;
  font-size: 15px;
  margin-left: 1024px;
  cursor: pointer;
  transition: 0.7s;
}

.staff .staff-btnadd:hover {
  background-color: #142118;
  color: white;
  scale: 1.1;
}
.staff .staff-list {
  width: 98%;
  margin: 10px;
  overflow: hidden;
  flex-direction: column;
  border-collapse: collapse; /* Gộp đường viền của các ô trong bảng */
}

.staff .staff-list th,
.staff .staff-list td {
  text-align: center; /* Căn giữa nội dung của các ô và tiêu đề */
  padding: 12px; /* Đặt khoảng cách giữa nội dung và đường viền của ô */
  border: 1px solid lightgrey; /* Đặt đường viền cho các ô */
}

.staff .staff-list th {
  background-color: #294031; /* Màu nền cho các tiêu đề */
  color: white; /* Màu chữ cho các tiêu đề */
}

.staff .staff-list tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Đặt màu nền xen kẽ cho các hàng chẵn */
}

.staff .staff-list tbody tr:hover {
  background-color: #ddd; /* Đổi màu nền khi di chuột qua các hàng */
}

.staff .staff-list td {
  vertical-align: middle; /* Căn nội dung của ô theo chiều dọc */
}
.staff .staff-list #brands {
  display: flex;
  align-items: center;
  justify-content: center;
}
.staff .staff-list .staff__img {
  width: 60px;
  height: 60px;
  margin-left: 100px;
}
.staff-info {
  display: flex;
  align-items: center;
}

.staff__img {
  width: 50px; /* Thiết lập kích thước ảnh */
  height: auto; /* Cho phép chiều cao tự động tính toán */
  margin-right: 10px; /* Khoảng cách giữa ảnh và tên sản phẩm */
}

.staff .add-staff-form {
  text-align: center;
  margin: 20px;
}
.staff .add-staff-form input {
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 20px;
}
.staff .add-staff-form label {
  font-size: 40px;
  font-weight: bold;
}
.staff .add-staff-form button {
  padding: 20px;
  border: none;
  background-color: #294031;
  color: white;
  cursor: pointer;
  transition: 0.7s;
  border-radius: 10px;
}

.staff .add-staff-form button:hover {
  background-color: #142118;
  color: white;
  scale: 1.1;
}
.staff .add-staff-form .staff .add-staff-form #addsta .staffForm {
  text-align: center;
}
.add-staff-form {
  display: none;
}
.edit-staff-form {
  text-align: center;
  margin: 20px;
}
.edit-staff-form {
  display: none;
}
.edit-staff-form input {
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 20px;
}
.edit-staff-form label {
  font-size: 40px;
  font-weight: bold;
}
.edit-staff-form button {
  padding: 15px;
  border: none;
  background-color: #294031;
  color: white;
  cursor: pointer;
  transition: 0.7s;
  border-radius: 10px;
}
.edit-staff-form button:hover {
  background-color: #142118;
  color: white;
  scale: 1.1;
}
.staff-list-body .action-cell button {
  padding: 10px;
  margin: 5px;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}
.staff-list-body .action-cell button:hover {
  scale: 1.1;
}
.staff-list-body .action-cell .delete-button {
  background-color: red;
}

.staff-list-body .action-cell .edit-button {
  background-color: #294031;
}
.staff-list-body .action-cell .detail-button {
  color: #142118;
}
.modal {
  display: block;
}
#detailModal button {
  cursor: pointer;
  background-color: red;
  padding: 5px;
  border: none;
  color: white;
}
#detailContent {
  text-align: center;
  border: 3px solid black;
  margin: 20px;
  display: block;
}
.infor-worker {
  display: block;
}
.modal-content .close {
  color: black;
  font-size: 20px;
  /* display: none; */
  margin-left: 610px;
  border-radius: 5px;
  display: block;
}

.infor-1 {
  background-color: rgb(228, 227, 227);
}
.infor-worker .detail-infor {
  line-height: 35px;
}
